/3Anio/segundoCuatri/SI/Lavadora/wheel/nbproject/private/
/3Anio/segundoCuatri/SI/Lavadora/wheel/build/
/3Anio/segundoCuatri/SI/Lavadora/RotationButton/nbproject/private/
/3Anio/segundoCuatri/SI/Lavadora/RotationButton/build/
/3Anio/segundoCuatri/SI/Lavadora/RotationButton/dist/
/3Anio/segundoCuatri/SI/Internalizacion/Internacionalizacion/nbproject/private/
/3Anio/segundoCuatri/SI/Internalizacion/Internacionalizacion/build/
/3Anio/segundoCuatri/SI/Internalizacion/Calculator1/nbproject/private/